<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects Page</title>
</head>

<body>
    <h1>List of Projects</h1>
    <% if (typeof projectAdded !== 'undefined' && projectAdded) { %>
        <script>alert("Project added successfully");</script>
    <% } %>
    <ul>
        <% projects.forEach(project => { %>
            <li>
                <%= project.name %> - <%= project.description %> - <%= project.author %>
                <form action="/api/issues/<%= project._id %>" method="GET"> 
                    <!-- Assuming '/api/issues/:projectId' is the correct API endpoint to view issues for a project -->
                    <button type="submit">View Issues</button>
                </form>
            </li>
        <% }); %>
    </ul>
</body>

</html>
